/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -windows-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Cardo", sans-serif;
}

/* Colors */
:root {
  --color-default: #fafafa;
  --color-primary: #ff41dc;
  --color-secondary: #161718;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--font-default);
  color: var(--color-default);
  background-color: #000;
  text-align: center;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: #ee7cff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
.section-header {
  padding-bottom: 40px;
  text-align: center;
}

.section-header h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--font-primary);
}

.section-header h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #ee7cff;
  margin: 4px 10px;
}

.section-header p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  font-family: var(--font-secondary);
  color: #fff;
}

/*--------------------------------------------------------------
# Page Header
--------------------------------------------------------------*/
.page-header {
  padding: 120px 0 60px 0;
  min-height: 30vh;
  position: relative;
  text-align: center;
}

.page-header h2 {
  font-size: 56px;
  font-weight: 500;
  color: #fff;
  font-family: var(--font-secondary);
}

@media (max-width: 768px) {
  .page-header h2 {
    font-size: 36px;
  }
}

.page-header p {
  color: rgba(255, 255, 255, 0.8);
}

.page-header .cta-btn {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 4px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s;
  color: #fff;
  background: var(--color-primary);
}

.page-header .cta-btn:hover {
  background: #ee7cff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header-container {
  display: flex;
  justify-content: center;
}

.header {
  z-index: 997;
  padding: 30px 0;
  background-color: #000;
  display: flex;
  align-items: center;
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo img {
  max-height: 40px;
  margin-right: 8px;
}

.header .logo h1 {
  font-size: 32px;
  margin: 0;
  font-weight: 400;
  color: #fff;
  font-family: var(--font-secondary);
}

/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 0px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
  }

  .navbar li {
    position: relative;
    margin: 0 10px;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 15px; /* Adjusted padding for smaller screens */
    font-family: var(--font-primary);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    white-space: nowrap;
    transition: 0.3s;
    margin: auto;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 0px) {
  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 400px;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
    background: rgba(0, 0, 0, 0.9);
    font-family: var(--font-primary);
    display: none; /* Hide the navbar by default */
  }
  
  .navbar.active {
    display: flex;
  }
  
  .navbar ul {
    margin: 0;
    padding: 50px 0 10px 0;
    background: rgba(0, 0, 0, 0.9);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 1px;
    white-space: nowrap;
    transition: 0.3s;
    margin: auto;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > a {
    color: #fff;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active .navbar {
    right: 0;
  }
  
  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(22, 23, 24, 0.8);
    z-index: 9996;
  }
  
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .row {
  justify-content: center;
}

.about .col-lg-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about img {
  max-width: 20%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 20px;
}

.about .content {
  max-width: 400px; /* Adjust the max-width based on your design */
  text-align: left; /* Align the text content to the left */
}

.about .content h2 {
  font-weight: 700;
  font-size: 24px;
  color: var(--color-primary);
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul span {
  display: block; /* Ensure each item spans the full width */
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact {
  padding: 80px 0;
}

.contact .container {
  text-align: center;
}

.contact .row {
  justify-content: center;
}

.contact .col-lg-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact img {
  max-width: 20%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 20px; /* Add margin to the right of the image */
}

.contact .info-item {
  text-align: left;
  margin-bottom: 20px;
}

.contact .info-item strong {
  display: block;
  font-size: 24px; /* Adjusted font size */
  color: var(--color-primary);
  margin-bottom: 10px;
}

.contact .info-item a {
  color: var(--color-primary);
}

.contact .info-item a:hover {
  color: #ee7cff; /* Adjusted hover color */
}

.contact .info-item p {
  color: var(--color-primary);
  margin: 0;
}

/*--------------------------------------------------------------
# Resume Section
--------------------------------------------------------------*/
.resume {
  padding: 80px 0;
  page-break-inside: avoid; /* Avoid breaking the section across pages */
}

.resume .container {
  text-align: center;
}

.resume .row {
  justify-content: center;
}

.resume .col-lg-6 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  page-break-inside: avoid; /* Avoid breaking the column across pages */
}

.resume .resume-content {
  max-width: 800px;
  margin: 0 auto;
}

.resume h2 {
  font-weight: 700;
  font-size: 24px;
  color: var(--color-primary);
}

.resume p {
  margin-bottom: 15px;
}

.resume strong {
  margin-right: 5px;
}

.resume span {
  display: block;
}

.resume img {
  max-width: 30%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 20px;
}

/* Print Styles */
@media print {
  body {
    color: #000; /* Set text color to black for better print readability */
  }

  .resume img {
    max-width: 30%;
    height: auto;
    border-radius: 8px;
    object-fit: contain; /* Ensure images fit within the printed page */
    margin-right: 0;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  min-height: 30vh;
  background: #000;
  background-size: cover;
  position: relative;
  padding: 140px 0 60px 0;
  text-align: center;
}

.hero h2 {
  margin: 0 0 10px 0;
  font-size: 38px;
  font-weight: 700;
  color: #fff;
  font-family: var(--font-secondary);
}

.hero h2 span {
  position: relative;
  z-index: 1;
  padding: 0 5px;
  display: inline-block;
}

.hero h2 span:before {
  content: "";
  position: absolute;
  height: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-primary);
  z-index: -1;
}

.hero p {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 30px;
  font-size: 18px;
}

.hero .btn-get-started {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 4px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.3s;
  color: #fff;
  background: var(--color-primary);
}

.hero .btn-get-started:hover {
  background: #ee7cff;
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 32px;
  }
}

/*--------------------------------------------------------------
# Logo
--------------------------------------------------------------*/
.logo {
  max-width: 100px; /* Adjust the size as needed */
  height: auto;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  margin-top: auto;
  padding: 30px 0;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer .copyright {
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.footer .credits {
  padding-top: 6px;
  text-align: center;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
}

.footer .credits a {
  color: var(--color-primary);
}

/*--------------------------------------------------------------
# Photo grid
--------------------------------------------------------------*/
.photo-grid {
  padding: 80px 10px;
  background: rgb(82, 59, 82);
}

.photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo-container div {
 width: 23%;
}

.photo-container img {
  border-radius: 8px;
  width: 100%; /* Ensure images fill their container */
  height: auto;
  object-fit: cover;
}